.tags__dropdown {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    &__ingredients,
    &__appliances,
    &__ustensils {
        display: flex;
        width: 220px;
        position: relative;
        border-radius: 5px;
        input {
            padding: 1.6rem;
            width: 100%;
            height: auto;
            border: none;
            border-radius: 5px;
            font-size: $m;
            color: #fff;
            font-weight: 700;
            z-index: 10;
        }
        input::placeholder {
            color: inherit;
            font-weight: inherit;
        }
    }
    &__ingredients {
        &__input {
            background: $ingredients;
        }
        &__list {
            @include listItems;
            background: $ingredients;
            li {
                text-decoration: none;
                color: inherit;
                width: 30%;
                padding: 1rem .6rem;
            }
        }
        &__arrow {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translate(-50%, -50%);
                z-index: 100;
                cursor: pointer;
            }
        &__arrow.spinning {
                animation: 200ms ease both spinning;
                top: 40%;
            }
        // &__arrow.reverse-spin {
        //     animation: 200ms ease both reverse-spin;
        // }
        }
    &__appliances {
        &__input {
            background: $appliances;
        }
        &__list {
            @include listItems;
            background: $appliances;
            li {
                text-decoration: none;
                color: inherit;
                width: 30%;
                padding: 1rem .6rem;
            }
        }
        &__arrow {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(-50%, -50%);
            z-index: 100;
            cursor: pointer;
        }
        &__arrow.spinning {
            animation: 200ms ease both spinning;
            top: 40%;
        }
        // &__arrow.reverse-spin {
        //     animation: 200ms ease both reverse-spin;
        // }
    }
    &__ustensils {
        &__input {
            background: $utensils;
        }
        &__list {
            @include listItems;
            background: $utensils;
            li {
                text-decoration: none;
                color: inherit;
                width: 30%;
                padding: 1rem .6rem;
            }
        }
        &__arrow {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(-50%, -50%);
            z-index: 100;
            cursor: pointer;
        }
        &__arrow.spinning {
            animation: 200ms ease both spinning;
            top: 40%;
        }
        // &__arrow.reverse-spin {
        //     animation: 200ms ease both reverse-spin;
        //     top: 40%;
        // }
    }
}
// Search tags

.searchtag {
    margin: 2rem 0;
    display: flex;
    &__btn {
        display: flex;
        align-items: center;
        gap: .6rem;
        width: auto;
        height: 40px;
        margin: 0 .4rem;
        padding: 0 .4rem;
        border-radius: 5px;
        &__text {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 0 0 0 .2rem;
        }
    }
    &__btn.ingredient {
        background: $ingredients;
    }
    &__btn.appliance {
        background: $appliances;
    }
    &__btn.ustensil {
        background: $utensils;
    }
    &__close {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .tags__dropdown {
        flex-wrap: wrap;
        justify-content: center;
    }
}


// animations

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

// @keyframes reverse-spin {
//     from {
//         transform: rotate(180deg);
//     }

//     to {
//         transform: rotate(0deg);
//     }
// }