.tags__dropdown {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    &__wrapper {
        ul {
            @include listItems;
            a {
                text-decoration: none;
                color: inherit;
                width: 30%;
                padding: 1rem .6rem;
            }
        }
    }
    &__ingredients,
    &__appliances,
    &__ustensils {
        display: flex;
        width: 220px;
        position: relative;
        border-radius: 5px;
        input {
            padding: 1.6rem;
            width: 100%;
            height: auto;
            border: none;
            border-radius: 5px;
            font-size: $m;
            color: #fff;
            font-weight: 700;
            z-index: 10;
        }
        input::placeholder {
            color: inherit;
            font-weight: inherit;
        }
    }
    &__ingredients {
        &__input {
            background: $ingredients;
        }
        &__menu {
            width: 700px;
            background: $ingredients;
            display: none;
        }
        &__arrow {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translate(-50%, -50%);
                z-index: 100;
            }
        }
    &__appliances {
        &__input {
            background: $appliances;
        }
        &__menu {
            width: 700px;
            background: $ingredients;
            display: none;
        }
        &__arrow {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(-50%, -50%);
            z-index: 100;
        }
    }
    &__ustensils {
        &__input {
            background: $utensils;
        }
        &__menu {
            width: 700px;
            background: $ingredients;
            display: none;
        }
        &__arrow {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(-50%, -50%);
            z-index: 100;
        }
    }
}
// Search tags

.searchtag {
    margin: 2rem 0;
    &__btn.active {
        display: flex;
        align-items: center;
        position: relative;
        width: 107px;
        height: 37px;
        border-radius: 5px;
        background: $ingredients;
        &__text {
            position: absolute;
            right: 50%;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
        }
    } 
    &__close.active {
        background: url("/src/assets/icons/close.svg") center center / 100% 100%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 8%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .tags__dropdown {
        flex-wrap: wrap;
        justify-content: center;
    }
}


