.header {
    &__wrapper {
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        &__link {
            img {
              width: 100%;
              height: 100%;  
            }
        }    
    }
}
